*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: aquamarine;
    font-family: sans-serif;
}

.container{
    display: grid;
    gap: 1em;
    padding: 1em;
    background-color: aliceblue;
    margin: 1em;
}

header, main, footer, nav{
    border: 1px solid black;
}

main{
    height: 50em;
}

ul{
    list-style: none;
   
}
ul a{
    color: #fff;
    text-decoration: none;
}

ul li{
    padding: 1em;
    text-transform: uppercase;
    display: inline-block;
    background-color: black;
    color: white;
}