*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: aquamarine;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}

.container{
    display: grid;
    gap: 1em;
    padding: 1em;
    background-color: aliceblue;
    margin: 1em;
    width: 90%;
}

header, main, footer, nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header{
    gap:1em;
}

main{
    height: 50em;
}


ul{
    list-style: none;
   
}
ul a{
    color: #fff;
    background-color: black;
    padding: 1em;
    color: white;
    text-decoration: none;
    font-weight: 600;
}
ul a:hover{




}

ul li{
    text-transform: uppercase;
    display: inline-block;
}