*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --fundo: ghostwhite;
}
body{
    background-color: #111;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    width: 100%;
}

.container{
    display: grid;
    gap: 1em;
    padding: 1em;
    margin: 1em;
    width: 90%;
}

header, main, footer, nav, ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
}
header{
    height: 10em;
    gap:3em;
    background-color: var(--fundo);
}


main{
    gap:1em;
    background-color: var(--fundo);
    padding: 1em;
}

main p,li{
    font-size: 1.2em;
}

ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap:1em;

   
}
#imagens{
 display: flex;
 gap:1em;
 flex-wrap: wrap;
 width: 60%;
}
ul a{
    color: #fff;
    background-color: black;
    border-radius: 1em;
    padding: 1em;
    color: white;
    text-decoration: none;
    font-weight: 600;
    border:2px solid black;
}
ul a:hover{
    color:black;
    border:2px solid black;
    background-color:white;
}

ul li{
    text-transform: uppercase;
    display: inline-block;
}

footer{
    border-radius: 1em;
    background-color: var(--fundo);
    padding: 1em;
}
img{
    width: 300px;
    transition: transform 300ms;

}
img:hover{
    transform: scale(1.1);
}
.imagens{
    align-items: center;
}
